@page
@using CW15.Model
@model CW15.Pages.SearchServicecshtmlModel
@{
}

<h2>Search Service</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="@Model.ServiceDTO.ServiceName" class="form-label">w</label>
        <input type="text" class="form-control" asp-for="@Model.ServiceDTO.ServiceName">
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ServiceDTO.Location" class="form-label">w</label>
        <input type="text" class="form-control" asp-for="@Model.ServiceDTO.Location">
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ServiceDTO.Gender" class="form-label"></label>
        <input type="radio" class="form-control" value="@Gender.Female" asp-for="@Model.ServiceDTO.Gender">
        <input type="radio" class="form-control" value="@Gender.Male" asp-for="@Model.ServiceDTO.Gender">
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ServiceDTO.categires"></label>
        <select asp-for="@Model.ServiceDTO.categires" form="carform">
            @foreach (var cat in Model.ServiceDTO.categires)
            {
                <option value="@cat">@cat.Title</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>