@page
@using CW15.Model
@model CW15.Pages.SearchServicecshtmlModel
@{
}

<h2 class="container">Search Service</h2>
<form method="post" class="container col-lg-4">
    <div class="mb-3">
        <label asp-for="@Model.ServiceDTO.ServiceName" class="form-label"></label>
        <input type="text" class="form-control" asp-for="@Model.ServiceDTO.ServiceName">
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ServiceDTO.Date" class="form-label"></label>
        <input type="date" value="@DateOnly.FromDateTime(DateTime.Now)" class="form-control" asp-for="@Model.ServiceDTO.Date">
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ServiceDTO.Location" class="form-label"></label>
        <input type="text" class="form-control" asp-for="@Model.ServiceDTO.Location">
    </div>
    @* <div class="form-check">
        <input class="form-check-input" asp-for="@Model.ServiceDTO.Gender" type="radio" value="@null" checked>
        <label class="form-check-label" asp-for="@Model.ServiceDTO.Gender">
        </label>
    </div> *@
    <div class="form-check">
        <input class="form-check-input" asp-for="@Model.ServiceDTO.Gender" type="radio" value="@Gender.Female">
        <label class="form-check-label" asp-for="@Model.ServiceDTO.Gender">
            Female
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="@Model.ServiceDTO.Gender" type="radio" value="@Gender.Male">
        <label class="form-check-label" asp-for="@Model.ServiceDTO.Gender">
            Male
        </label>
    </div>
    <label class="form-check-label" asp-for="@Model.ServiceDTO.Title"></label>
    <select class="form-select" asp-for="@Model.ServiceDTO.Title">
        <option selected value="@null">انتخاب کنید</option>
        @foreach (var item in Model.CategoryTitle)
        {
            <option value="@item">@item</option>
        }
    </select>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>